language: julia
sudo: false
julia:
    - release
    - nightly
os:
    - linux
    - osx

notifications:
    email: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - libgmp-dev
    - g++-4.7
    
install:
    - export CXX=g++-4.7
script:
    - julia -e 'Pkg.clone(pwd())'
    - julia -e 'Pkg.build("SymEngine")'
    - julia -e 'Pkg.test("SymEngine")'
