on: [push, pull_request]

name: Make Julia API Docs with Documenter

jobs:
  BuildDocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - name: Install dependencies
        shell: julia --project=docs/ --color=yes {0}
        run: using Pkg; Pkg.instantiate()
      - name: Build Docs
        run: julia --project=docs/ --color=yes docs/make.jl
      - name: Deploy Documentation
        if: ${{ (github.ref == 'refs/heads/main' && github.repository == 'Symengine/symengine.jl') || (github.ref == 'refs/heads/master' && github.repository == 'Symengine/symengine.jl')}}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
